<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.bloomad">
    <application>
        <activity
            android:name=".activity.SplashActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
    </application>
</manifest>
